body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* LOGIN */
.container {
  width: 300px;
  margin: 100px auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

/* DASHBOARD */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  background: #111827;
  height: 100vh;
  padding: 10px;
}

.sidebar button {
  background: none;
  border: none;
  color: white;
  text-align: left;
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar button:hover {
  background: #1f2937;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 20px;
}

.hidden {
  display: none;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #334155;
  padding: 10px;
}

.card {
  background: #1e293b;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}
